/* ---- Estilos pagina QUIENES SOMOS ----*/
:root{
    --bg-color:#522a1e;
    --primary-color:#9f3647;
    --secondary-color: #fcc19c;
    --third-color: #e43703fb;
    --third-bis-color: #ca3335c5;
    --bg-input-color: #4f31572c;    
    }
  
  
 *{
     font-family: "Open Sans", sans-serif;
 } 

 body{
    margin: 0;
 }

#header-QS{
    background-color:var(--bg-color);
    height:auto;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:5px solid var(--primary-color);
    margin-top:0;
    flex-wrap: wrap;
    
}
#logo-QS p{
    margin:0 20px;
    font-weight: bold;
    font-size: larger;
    color:var(--secondary-color)
}
.nav-QS{
    margin:10px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    padding: 10px;
    width: auto;
}
.nav-QS li{
    margin: 10px;
}
.nav1 a{
    padding: 10px;
    margin:5px;
    color: white;
    font-size: small;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
}

.nav1 a:hover{
background-color: rgba(183, 173, 175, 0.5);
color: black;
font-weight: bold;
}

#banner-QS{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/banner-QS.jpg);
    background-size: cover;
    /* background-repeat: none; */
    background-position: center;
    height: 300px;
    margin: 30px 0;
    border:3px solid var(--primary-color);
}

#banner-QS h1{
color: white;
padding: 5px 5px;
background-color: rgba(0,0,0,0.5);
border-radius: 10px;
}

#banner-QS h1:hover{
    color:black;
    background-color: rgba(137, 43, 62, 0.5);
}

.color-injemar{
    color: var(--primary-color);
}

#somosINJEMAR-QS{
    background-color: #bbb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px 0;
    padding: 10px 15px;
    /* border:3px solid var(--primary-color); */


}
#somosINJEMAR-QS p{
    margin: 15px;
}

#somosINJEMAR-QS img{
    width: 250px;
    margin: 30px;
}

#donde-encontrarnos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border:3px solid var(--primary-color); */
    margin: 30px 0 10px;
    height: auto;
    background-color: var(--bg-color);
}
#donde-encontrarnos h2,h3{
    margin-top: 15px;
    width: 100%;
    text-align: center;
    /* background-color: rgba(0,0,0,0.5); */
    color: var(--secondary-color);
    /* border: 2px solid black; */

}


#map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:30px 0;
    width: 100%;
   
}

#map iframe{
    margin-top: 10px;
    padding: 2px;
    background-color: black;
    width: 50%;
}
.redes-sociales{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    height: auto;
    /* text-align: center; */
    margin: 15px 0;
}
.redesSociales{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50%;
    margin: 10px;
}
 #footer-QS{
    display: flex;
    /* justify-content: center; */
    align-items: end;
    width: 100%;
    background: #bbb;
    color:black;
}