:root{
--bg-color:#522a1e;
--primary-color:#9f3647;
--secondary-color: #fcc19c;
--third-color: #e43703fb;
--third-bis-color: #ca3335c5;
--bg-input-color: #4f31572c;    
}


* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Open Sans", sans-serif;;
}

<<<<<<< HEAD
body {
    background-color: #E5E8E8; 
}

h1 { 
    font-size: 3.5em;
}

h2 { 
    font-size: 2.7em; 
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
	height: 100px;
	/*background: #5DADE2;*/
	background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 1%, rgba(41,35,41,1) 39%);
}

.header .nav-container {
	display: flex;
	/*justify-content: space-around;*/
    justify-content: space-between;
    /*height: 60px;*/
	align-items: center;
    padding: 15px 60px;
}
/* ESTILO PARA EL LOGO */
#logo #texto-logo1{
	text-align: center;
    font-size: 3em;
    font-family: "Jaro";
    color:whitesmoke;
	letter-spacing: 1px;
}
#logo #texto-logo2{
	font-size: 2em;
	color:whitesmoke;
	letter-spacing: 1px;
	font-family: Inter UI;
}
/* ESTILO PARA LA NAVEGACION */
.nav-links {
	display: flex;    
    gap: 50px;
	
}
.header .nav-container .nav-links li a{
	position: relative;
	display: inline-block;
	padding: 10px;
    margin:5px;
    color: #16D9DB;
    font-size: 1em;
    /*background-color: #16D9DB;*/
    border-radius: 10px;
	border: 2px solid #16D9DB;
    font-weight: bold;
	text-transform: uppercase;
	z-index: 1;
	overflow: hidden;
	transition: 1s;
	transition-delay: 0s, 1s;
}

.header .nav-container .nav-links li a:hover {
	color: #FFFFFF;
	box-shadow: 
		0 0 10px #16D9DB,
		0 0 20px #16D9DB,
		0 0 40px #16D9DB,
		0 0 80px #16D9DB,
		0 0 160px #16D9DB;
}
.header .nav-container .nav-links li a::before {
	content:'';
	position: absolute;
	top: 0;
	left: -50px;
	width: 0;
	height: 100%;
	background: #16D9DB;
	transform: skewX(35deg);
	z-index: -1;
	transition: 1s;
}

.header .nav-container .nav-links li a:hover:before {
	width: 100%;
}

/*************** ESTILO <!-- Elegí tu destino"--> ************/
.container {
	width: 100%;
	/*height: 100px;*/
	background: #16D9DB ;
}
.container {
	margin: 10px 0px;
	padding:40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.container .search-input{
	display: flex;
}
.container .search-input .text {
	border: 2px solid white;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    height: 50px;
    margin: 10px 0px;
    /* QUITA EL EFECTO DE BORDE AL INPUT AL SELECCIONARLO */
    outline: none;
    padding: 0px 20px;
    width: 70%;
}
.container .search-input .date {
	border: 2px solid white;
    border-radius: 25px;
    color: #000000;
    font-size: 16px;
    height: 50px;
    margin: 10px 10px;
    /* QUITA EL EFECTO DE BORDE AL INPUT AL SELECCIONARLO*/
    outline: none;
    padding: 0px 20px;
    width: 70%;
}
.container .search-input .btn-search {
	height: 50px;
	padding: 10px 20px;
    margin: 10px;
    color: white;
    font-size: 20px;
    background-color: #AB4DE8;
    border-radius: 10px;
    font-weight: bold;
}

/*************** ESTILO <!-- Seccion de "Viajes al exterior"--> ************/
#vext {
	text-align: center;
}
#vext h2 {
	margin: 50px 0px;
}
.container .vext-grid {
	display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-items: center;
    gap: 20px;
}
.container .vext-grid .vext-item {
	overflow: hidden;
    position: relative;
    display: inline-block;
	/*border: 10px solid #000000;*/
	width: 300px;
    height: 400px;
    font-size: 20px;
    /*cursor: pointer;*/
}

.container .vext-grid .vext-item .title-card {
	padding-top: 20px ;
	text-align: center;
	font-weight: 700;
}

.container .vext-grid .vext-item .vext-item-img {
	width: 100%;
	height:300px;
	object-fit: cover;
	box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.3),
                0px 15px 12px 0px rgba(0,0,0,0.22);
}


.container .vext-grid .vext-item .vext-item-detail {
	/*text-align: center;*/
	width: 100%;
	height: 100%;
	top: 0;
	right: -100%;
	position: absolute;
	background: #1F3D4780;
	backdrop-filter: blur(5px);
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.container .vext-grid .vext-item:hover .vext-item-detail {
	right: 0;
}
.container .vext-grid .vext-item .vext-item-detail .vext-item-detail-title{
	color: #FFFFFF;
	padding-top: 50px;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 800;
}
.container .vext-grid .vext-item .vext-item-detail .vext-item-detail-info {
	font-size: 20px;
	line-height: 35px;
	margin: 30px 0;
	font-weight: 700;
	color: #75EA2E;
}
.container .vext-grid .vext-item .vext-item-detail .btn-card {
	height: 50px;
	padding: 10px 20px;
    margin: 10px 60px;
    color: white;
    font-size: 20px;
    background-color: #AB4DE8;
    border-radius: 10px;
    font-weight: bold;
	cursor: pointer;
}
/*************** ESTILO <!-- Seccion de "Vacaciones en Argentina"--> ************/
#varg {
	text-align: center;
}
#varg h2 {
	margin: 50px 0px;
}

.container .varg-grid {
	display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-items: center;
    gap: 20px;
}
.container .varg-grid  .varg-item {
	overflow: hidden;
    position: relative;
    /*display: inline-block;*/
	/*border: 10px solid #000000;*/
	width: 300px;
    height: 400px;
    font-size: 20px;
    cursor: pointer;
}

.container .varg-grid .varg-item .title-card {
	padding-top: 20px ;
	text-align: center;
	font-weight: 700;
}

.container .varg-grid .varg-item .varg-item-img {
	width: 100%;
	height:300px;
	object-fit: cover;
	box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.3),
                0px 15px 12px 0px rgba(0,0,0,0.22);
}


.container .varg-grid .varg-item .varg-item-detail {
	/*text-align: center;*/
	width: 100%;
	height: 100%;
	top: 0;
	right: -100%;
	position: absolute;
	background: #1F3D4780;
	backdrop-filter: blur(5px);
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.container .varg-grid .varg-item:hover .varg-item-detail {
	right: 0;
}
.container .varg-grid .varg-item .varg-item-detail .varg-item-detail-title{
	padding-top: 50px;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 700;
	color: #FFFFFF;
}
.container .varg-grid .varg-item .varg-item-detail .varg-item-detail-info {
	font-size: 20px;
	line-height: 35px;
	margin: 30px 0;
	font-weight: 700;
	color: #75EA2E;
}
.container .varg-grid .varg-item .varg-item-detail .btn-card {
	height: 50px;
	padding: 10px 20px;
    margin: 10px 60px;
    color: white;
    font-size: 20px;
    background-color: #AB4DE8;
    border-radius: 10px;
    font-weight: bold;
	cursor: pointer;
}

/* Estilos para la botonera */
/*#botonera {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: "Sedan SC", serif;
    text-decoration: none;
}
.boton {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
=======
body{
    background-image: url('/statics/img/hoja_palmera.jpg');
    background-size: contain;
>>>>>>> rama2
    
}
.form-wrapper{
    width: 400px;
    background-color: var(--bg-color) ;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    color: var(--secondary-color);
    box-shadow: 7px 15px 42px #130000;

}

.form-wrapper h2{
    font-size: 24px;
    margin-bottom: 22px;
    margin-left: 30%;
}

.form-control{
    width: 100%;
    background-color: var(--bg-input-color);
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid var(--primary-color) ;

}
.form-wrapper p {
    height: 40px;
    text-align: center;
    font-size: 15px;

}

.form-wrapper a {
    color: var(--third-color);
    text-decoration: none;

<<<<<<< HEAD
}*/
=======
}

.boton {
    width: 50%;
    border-radius: 3%;
    border-color: #522a1e;
    background: var(--third-bis-color);
    padding: 10px;
    color:white;
    font-size: 18px;
}
.logo-texto {
    color:#fc0543;
    font-size: 30px;
    text-decoration: none;
    margin-left: 30%;
    
}

.logo-texto a{
    text-decoration: none;
}


>>>>>>> rama2
    
