:root{
    --bg-color:#522a1e;
    --primary-color:#9f3647;
    --secondary-color: #fcc19c;
    --third-color: #e43703fb;
    --third-bis-color: #ca3335c5;
    --bg-input-color: #4f31572c;    
    }
    
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;;
    }
    
    body {
        background-color: #E5E8E8; 
    }
    
    h1 { 
        font-size: 3.5em;
    }
    
    h2 { 
        font-size: 2.7em; 
    }
    
    h3 {
        font-size: 2em;
    }
    
    p {
        font-size: 1.25em;
    }
    
    ul {
        list-style: none;
    }
    
    a {
        text-decoration: none;
    }
    
    #header {
        background-color:var(--bg-color);
        height:auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border:5px solid var(--primary-color);
        flex-wrap: wrap;
        
    }
    
    #logo p {
        margin:0 20px;
        font-weight: bold;
        font-size: larger;
        color:var(--secondary-color)
    }
    .nav-header {
        margin:10px 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        list-style: none;
        padding: 10px;
        width: auto;
    }
    .nav-header .nav-user {
        display: none;
    }
    .nav-header .nav-menu{
        display: none;
    }
    .nav-header li {
        margin: 10px;
    }
    .nav a {
        padding: 10px;
        margin:5px;
        color: white;
        font-size: small;
        background-color: rgba(0,0,0,0.5);
        border-radius: 10px;
        font-weight: bold;
    }
    
    .nav a:hover{
    background-color: rgba(183, 173, 175, 0.5);
    color: black;
    font-weight: bold;
    }
    /*************** ESTILO <!-- Elegí tu destino"--> ************/
    .container {
        width: 100%;
        /*height: 100px;*/
        background-color: #bbb; ;
    }
    .container {
        margin: 10px 0px;
        padding:40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container .search-input{
        display: flex;
    }
    .container .search-input .text {
        border: 2px solid white;
        border-radius: 25px;
        color: white;
        font-size: 16px;
        height: 50px;
        margin: 10px 0px;
        /* QUITA EL EFECTO DE BORDE AL INPUT AL SELECCIONARLO */
        outline: none;
        padding: 0px 20px;
        width: 70%;
    }
    .container .search-input .date {
        border: 2px solid white;
        border-radius: 25px;
        color: #000000;
        font-size: 16px;
        height: 50px;
        margin: 10px 10px;
        /* QUITA EL EFECTO DE BORDE AL INPUT AL SELECCIONARLO*/
        outline: none;
        padding: 0px 20px;
        width: 70%;
    }
    .container .search-input .btn-search {
        height: 50px;
        padding: 10px 20px;
        margin: 10px;
        color: white;
        font-size: 20px;
        background-color:var(--primary-color);
        border-radius: 10px;
        font-weight: bold;
    }
    
    /*************** ESTILO <!-- Seccion de "Viajes al exterior"--> ************/
    #vext {
        text-align: center;
    }
    #vext h2 {
        margin: 50px 0px;
    }
    .container .vext-grid {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,1fr);
        justify-items: center;
        gap: 20px;
    }
    .container .vext-grid .vext-item {
        overflow: hidden;
        position: relative;
        display: inline-block;
        /*border: 10px solid #000000;*/
        width: 300px;
        height: 400px;
        font-size: 20px;
        /*cursor: pointer;*/
    }
    
    .container .vext-grid .vext-item .title-card {
        padding-top: 20px ;
        text-align: center;
        font-weight: 700;
    }
    
    .container .vext-grid .vext-item .vext-item-img {
        width: 100%;
        height:300px;
        object-fit: cover;
        box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.3),
                    0px 15px 12px 0px rgba(0,0,0,0.22);
    }
    
    
    .container .vext-grid .vext-item .vext-item-detail {
        /*text-align: center;*/
        width: 100%;
        height: 100%;
        top: 0;
        right: -100%;
        position: absolute;
        background: #1F3D4780;
        backdrop-filter: blur(5px);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .container .vext-grid .vext-item:hover .vext-item-detail {
        right: 0;
    }
    .container .vext-grid .vext-item .vext-item-detail .vext-item-detail-title{
        color: #FFFFFF;
        padding-top: 50px;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 800;
    }
    .container .vext-grid .vext-item .vext-item-detail .vext-item-detail-info {
        font-size: 20px;
        line-height: 35px;
        margin: 30px 0;
        font-weight: 700;
        color: #75EA2E;
    }
    .container .vext-grid .vext-item .vext-item-detail .btn-card {
        height: 50px;
        padding: 10px 20px;
        margin: 10px 60px;
        color: white;
        font-size: 20px;
        background-color: var(--primary-color);
        border-radius: 10px;
        font-weight: bold;
        cursor: pointer;
    }
    /*************** ESTILO <!-- Seccion de "Vacaciones en Argentina"--> ************/
    #varg {
        text-align: center;
    }
    #varg h2 {
        margin: 50px 0px;
    }
    
    .container .varg-grid {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,1fr);
        justify-items: center;
        gap: 20px;
    }
    .container .varg-grid  .varg-item {
        overflow: hidden;
        position: relative;
        /*display: inline-block;*/
        /*border: 10px solid #000000;*/
        width: 300px;
        height: 400px;
        font-size: 20px;
        cursor: pointer;
    }
    
    .container .varg-grid .varg-item .title-card {
        padding-top: 20px ;
        text-align: center;
        font-weight: 700;
    }
    
    .container .varg-grid .varg-item .varg-item-img {
        width: 100%;
        height:300px;
        object-fit: cover;
        box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.3),
                    0px 15px 12px 0px rgba(0,0,0,0.22);
    }
    
    
    .container .varg-grid .varg-item .varg-item-detail {
        /*text-align: center;*/
        width: 100%;
        height: 100%;
        top: 0;
        right: -100%;
        position: absolute;
        background: #1F3D4780;
        backdrop-filter: blur(5px);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .container .varg-grid .varg-item:hover .varg-item-detail {
        right: 0;
    }
    .container .varg-grid .varg-item .varg-item-detail .varg-item-detail-title{
        padding-top: 50px;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 700;
        color: #FFFFFF;
    }
    .container .varg-grid .varg-item .varg-item-detail .varg-item-detail-info {
        font-size: 20px;
        line-height: 35px;
        margin: 30px 0;
        font-weight: 700;
        color: #75EA2E;
    }
    .container .varg-grid .varg-item .varg-item-detail .btn-card {
        height: 50px;
        padding: 10px 20px;
        margin: 10px 60px;
        color: white;
        font-size: 20px;
        background-color: var(--primary-color);
        border-radius: 10px;
        font-weight: bold;
        cursor: pointer;
    }
    footer {
        width: 100%;
        background-color: var(--bg-color);
    }
    .container-footer {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    .container-footer .footer-content {
        width: 33.3%;
    }
    h3 {
        font-size: 28px;
        margin-bottom: 15px;
        text-align: center;
        color: var(--secondary-color);
    }
    .container-footer .footer-content p {
        width: 190px;
        margin: auto;
        padding: 7px;
        color: var(--secondary-color);
    }
    .container-footer .footer-content ul {
        text-align: center;
    }
    .container-footer .footer-content .links {
        padding: 0;
    }
    .container-footer .footer-content .links a{
        color: var(--secondary-color);
    
    }
    .container-footer .footer-content .links li {
        width: auto;
        text-align: center;
        list-style-type: none;
        padding: 7px;
        position: relative;
        color: var(--secondary-color);
    }
    .container-footer .footer-content .links li::before {
        content: '';
        position: absolute;
        transform: traslate(-50%, -50%);
        left: 45%;
        top: 100%;
        width: 0;
        height: 2px;
        background: #F18930;
        transition-duration: 0.5s;
    }
    .container-footer .footer-content .links li:hover::before {
        width: 70px;
    }
    .container-footer .footer-content .icon-social {
        text-align: center;
        padding-top: 10px;
    }
    .container-footer .footer-content .icon-social li {
        display: inline-block;
        text-align: center;
        padding: 5px;
    }
    .container-footer .footer-content .icon-social i {
        color: #FFFFFF;
        font-size: 25px;
    }
    .container-footer .footer-content .icon-social a:hover {
        color: #F18930;
    }
    .container-footer .footer-content .icon-social i:hover {
        color: #F18930;
    }
    .p-final {
        background: #F18930;
        text-align: center;
        padding: 10px 0;
        margin-top: 50px;
    }
    .p-final p {
        color: #FFFFFF;
        margin: 0;
        font-size: 16px;
        padding: 7px;
    }
    /********** Pantallas grandes ***********/
    
    @media screen and (max-width: 1920px) {
        
    }
    
    /********* TABLETS ************/
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        .container .vext-grid {
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(4,1fr);
        }
        .container .varg-grid {
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(4,1fr);
        }
        .container #search {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    
    /******* CELULARES ***************/
    
    @media screen and (max-width: 767px) {
        .nav-header .menu-pc{
            display: none;
        }
        .nav-header .nav-user{
            display: flex;
            size: 25px;
        }
        .nav-header .nav-menu{
            display: flex;
            size: 25px;
        }
        
        .container .vext-grid {
            grid-template-columns: repeat(1,1fr);
        }
        .container .varg-grid {
            grid-template-columns: repeat(1,1fr);
        }
        .container-footer {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 20px;
            width:100%;
        }
    }
    /* Estilos para la botonera */
    /*#botonera {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        font-family: "Sedan SC", serif;
        text-decoration: none;
    }
    .boton {
        padding: 10px 20px;
        margin: 0 10px;
        font-size: 16px;
        
    }
    .form-wrapper{
        width: 400px;
        background-color: var(--bg-color) ;
        padding: 30px;
        margin: auto;
        margin-top: 100px;
        border-radius: 5px;
        font-family: 'Courier New', Courier, monospace;
        color: var(--secondary-color);
        box-shadow: 7px 15px 42px #130000;
    
    }
    
    #logo{
        font-weight: bold;
        .sedan-sc-regular {
            font-family: "Sedan SC", serif;
            font-weight: 400;
            font-style: normal;
        }
    
    }
    
    .form-control{
        width: 100%;
        background-color: var(--bg-input-color);
        padding: 10px;
        margin-bottom: 10px;
        border: 2px solid var(--primary-color) ;
    
    }
    .form-wrapper p {
        height: 40px;
        text-align: center;
        font-size: 15px;
    
    }
    
    .form-wrapper a {
        color: var(--third-color);
        text-decoration: none;
    
    }
    
    .boton {
        width: 50%;
        border-radius: 3%;
        border-color: #522a1e;
        background: var(--third-bis-color);
        padding: 10px;
        color:white;
        font-size: 18px;
    }
    .logo-texto {
        color:#fc0543;
        font-size: 30px;
        text-decoration: none;
        margin-left: 30%;
        
    }
    
    .logo-texto a{
        text-decoration: none;
    }
    
    
        


    
