<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/statics/css/style.css">
    <link rel="stylesheet" href="/statics/css/destinos.css">
    <title>Destinos</title>
</head>
<body>
    <div class ="container-items"> 
        <div class = "item">
            <figure>
            <img alt="bariloche" src="/statics/img/barilocje.jpg">
        </figure>
        <div class="info-producto">
            <h2>Bariloche</h2>
            <p>ubicada en la región de los Lagos Andinos, ofrece paisajes impresionantes con montañas nevadas, lagos cristalinos y bosques exuberantes. </p>
            <p class = "Price">uSs 1000 los 7 dias</p>
            <button> Mas información</button>
        </div>    
        </div>
        </figure>
        <div class = "item">
            <figure>
            <img src="/statics/img/cafayate.jpg" alt=" cafayate">
        </figure>
        <div class="info-producto">
            <h2>Cafayate</h2>
            <p>Se encuentra en el Valle Calchaquí, una región famosa por sus paisajes deslumbrantes. La Quebrada de las Conchas, con sus formaciones rocosas espectaculares como el Anfiteatro y la Garganta del Diablo.</p>
            <p class = "Price">uSs 900 los 7 dias</p>
            <button> Mas información</button>
        </div>
    </div>
        
        <div class = "item">
            <figure>
            <img src="/statics/img/Calafate.jpg" alt="Calafate">
        </figure>
        <div class="info-producto">
            <h2>Calafate</h2>
            <p>El principal atractivo de El Calafate es el Glaciar Perito Moreno, una de las maravillas naturales más impresionantes del mundo</p>
            <p class = "Price">uSs 1300 los 7 dias</p>
            <button> Mas información</button>
        </div>
        </div>
        
        <div class = "item">
        <figure>
            <img src="/statics/img/cancun.jpg" alt=" cancun">
        </figure>
        <div class="info-producto">
            <h2>Cancun</h2>
            <p>es famoso por sus playas de arena blanca y aguas cristalinas de color turquesa. Las playas como Playa Delfines y Playa Norte en Isla Mujeres son perfectas para relajarse, nadar y disfrutar del sol caribeño.</p>
            <p class = "Price">uSs 2000 los 7 dias</p>
            <button> Mas información</button>
        
    </div>
        </div>

        <div class = "item">
            <figure>
                <img src="/statics/img/Egipto.jpg" alt="Egipto">
            </figure>
            <div class="info-producto">
                <h2>Egipto</h2>
                <p>es famoso por su rica herencia histórica y cultural. Se pueden explorar algunas de las maravillas más impresionantes del mundo antiguo, como las Grandes Pirámides de Giza, la Esfinge y el Valle de los Reyes</p>
                <p class = "Price">uSs 3000 los 7 dias</p>
                <button> Mas información</button>
            </div>
            </div>
            <div class = "item">
                <figure>
                    <img src="/statics/img/Jujuy.jpg" alt="Jujuy">
                </figure>
                <div class="info-producto">
                    <h2>Jujuy</h2>
                    <p>Jujuy es hogar de algunos de los paisajes más impresionantes de Argentina. Las montañas multicolores, especialmente el Cerro de los Siete Colores en Purmamarca y la Paleta del Pintor en Maimará, son un espectáculo natural imperdible.</p>
                    <p class = "Price">uSs 700 los 7 dias</p>
                    <button> Mas información</button>
                </div>
                </div>
                <div class = "item">
                    <figure>
                        <img src="/statics/img/machu-picchu-43387_1280.jpg" alt="Peru">
                    </figure>
                    <div class="info-producto">
                        <h2>Perú</h2>
                        <p>Machu Picchu, una de las Siete Maravillas del Mundo Moderno, es el sitio arqueológico más famoso de Perú. La ciudadela inca, situada en lo alto de los Andes, ofrece vistas impresionantes y una experiencia histórica inigualable</p>
                        <p class = "Price">uSs 1500 los 7 dias</p>
                        <button> Mas información</button>
                    </div>
                    </div>
                    <div class = "item">
                        <figure>
                            <img src="/statics/img/church-7292428_1280.jpg" alt="Cartagena">
                        </figure>
                        <div class ="info-producto">
                            <h2>Cartagena</h2>
                            <p>es famosa por su bien conservado casco antiguo, que es un sitio del Patrimonio Mundial de la UNESCO. Las coloridas calles empedradas, las plazas históricas y las impresionantes fortificaciones,ofrecen una fascinante visión del pasado colonial de la ciudad.</p>
                            <p class = "Price">uSs 2000 los 7 dias</p>
                            <button> Mas información</button>
                        </div>
                        </div>
                        <div class = "item">
                            <figure>
                                <img src="/statics/img/rio-de-janeiro-1963744_1280.jpg" alt="Brasil">
                            </figure>
                                <div class ="info-producto">
                                <h2>Brasil</h2>
                                <p>Es una elección que promete una experiencia rica en cultura, naturaleza exuberante, playas paradisíacas y una diversidad gastronómica excepcional</p>
                                <p class = "Price">uSs 1200 los 7 dias</p>
                                <button> Mas información</button>
                            </div>
                            </div>
            
          



            
    
        
        </div>            
    </body>
</html>