<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/statics/css/style.css">
    <link rel="stylesheet" href="/statics/css/destinos.css">
    <title>Destinos</title>
</head>
<body>
    <div class ="row"> 
        <div class = "column">
            <img alt="bariloche" src="/statics/img/barilocje.jpg">
            <img src="/statics/img/cafayate.jpg" alt=" cafayate">
            <img src="/statics/img/Calafate.jpg" alt="Calafate">

            <img src="/statics/img/cancun.jpg" alt=" cancun">

        </div>

        <div class = "filas">
            <img alt="egipto" src="/statics/img/Egipto.jpg">
            <img src="/statics/img/Jujuy.jpg" alt=" Jujuy">
            <img src="/statics/img/machu-picchu-43387_1280.jpg" alt=" Peru">
            <img src="/statics/img/church-7292428_1280.jpg" alt=" cartagena">
            <img src="/statics/img/rio-de-janeiro-1963744_1280.jpg" alt=" Brasil">



            
        </div>
        
    </div>            
    </body>
    </html>