<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- fuente de google fonts-->
   
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap" rel="stylesheet">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sedan+SC&display=swap" rel="stylesheet">
        

    <!-- <link rel="stylesheet" href="/statics/css/style.css"> -->
    <link rel="stylesheet" href="../statics/css/destinos.css">
    <link rel="shortcut icon" href="../statics/img/favicon.ico" type="image/x-icon">
    <title>Destinos</title>
</head>

<body>
    <header>
        <div id="header-DE">
            <div id="logo-DE">
                <p>
                    INJEMAR - VIAJES
                </p>
            </div>
            <div>
                <nav class="nav-DE">
                    <li class="nav1"><a href="../index.html">Pagina Principal</a></li>
                    <li class="nav1"><a href="registro.html">Registrarse</a></li>
                    <li class="nav1"><a href="quienes-somos.html">Quienes Somos</a></li>
                </nav>
            </div>
        </div>
    </header>

    <!--Seccion de banner -->
    <section id="banner-DE">
        <h1>Destinos</h1>
    </section>


    <section id="viajes-exterior-DE">
        <h2>Viajes al exterior</h2>

        <div class="destinos-exterior">
            <!-- Breve reseña de Brasil -->
            <div class="item1">
                <h3>Brasil</h3>
                <h4>Rio de Janeiro</h4>
                <img src="../statics/img/brasil.jpg" alt="Imagen de Rio de Janeiro - Brasil">
                <p>Es una elección que promete una experiencia rica en cultura, naturaleza exuberante, playas
                    paradisíacas y una diversidad gastronómica excepcional.</p>
            </div>

            <!-- Breve reseña de china -->
            <div class="item1">
                <h3>China</h3>
                <h4>Muralla China</h4>
                <img src="../statics/img/china.jpg" alt="Imagen de la Muralla China">
                <p>La Gran Muralla China es uno de los símbolos más representativos de China y una de las Siete
                    Maravillas del Mundo. Ofrece un paisaje montañoso impresionante con vistas espectaculares.</p>
            </div>

            <!-- Breve reseña de singapur -->
            <div class="item1">
                <h3>Singapur</h3>
                <h4>Singapur</h4>
                <img src="../statics/img/singapur.jpg" alt="Imagen Singapur">
                <p>Singapur, conocida como la “Perla de Asia”, ofrece una vitalidad especial que combina historia,
                    multiculturalidad, arte y ciencia, ademas de sus impresionantes rascacielos y arquitectura moderna.
                </p>
            </div>

            <!-- Breve reseña de Londres - Inglaterra -->
            <div class="item1">
                <h3>Inglaterra</h3>
                <h4>Londres</h4>
                <img src="../statics/img/inglaterra.jpg" alt="Imagen de Londres-Inglaterra">
                <p>Londres, la capital de Inglaterra y del Reino Unido, tiene una rica historia que se remonta a los
                    romanos. una ciudad fascinante con una rica historia y una mezcla vibrante de culturas.</p>
            </div>

            <!-- Breve reseña de Roma - Italia -->
            <div class="item1">
                <h3>Italia</h3>
                <h4>Roma</h4>
                <img src="../statics/img/italia.jpg" alt="Imagen de Roma - Italia">
                <p>Ciudad italiana con una rica historia que se remonta a 753 a.C.. . Hoy, pasear por las calles de Roma
                    es un viaje al pasado que te conecta con su legado milenario.</p>
            </div>

            <!-- Breve reseña de Sidney - Australia -->
            <div class="item1">
                <h3>Australia</h3>
                <h4>Sidney</h4>
                <img src="../statics/img/sidney.jpg" alt="Imagen de Sidney - Australia">
                <p>La ciudad más grande y poblada de Australia y Oceanía, destaca por la Casa de la Ópera, el puente de
                    la bahía, y sus playas.</p>
            </div>

            <!-- Breve reseña de Doha - Qatar-->
            <div class="item1">
                <h3>Qatar</h3>
                <h4>Doha</h4>
                <img src="../statics/img/qatar.jpg" alt="Imagen de Doha - Qatar">
                <p>Doha, la capital de Catar, ofrece una mezcla fascinante de modernidad y tradición. </p>
            </div>

            <!-- Breve reseña de Moscu - Rusia -->
            <div class="item1">
                <h3>Rusia</h3>
                <h4>Moscu</h4>
                <img src="../statics/img/rusia.jpg" alt="Imagen de Moscu - Rusia">
                <p>Moscú, la capital de Rusia, es una ciudad vibrante y sorprendente con una rica historia y una mezcla
                    fascinante de culturas.</p>
            </div>
        </div>

    </section>

    <section id="viajes-arg-DE">
        <h2>Viajes en Argentina</h2>
        <div class="destinos-arg">
            <!-- Bariloche - Rio Negro -->
            <div class="item2">
                <h3>Rio Negro</h3>
                <h4>Bariloche</h4>
                <img src="../statics/img/bariloche.jpg" alt="Imagen de Bariloche - Rio Negro">
                <p>Ubicada en la región de los Lagos Andinos, ofrece paisajes impresionantes con montañas nevadas, lagos
                    cristalinos y bosques exuberantes.</p>
            </div>

            <!-- Lago Puelo - Chubut -->
            <div class="item2">
                <h3>Chubut</h3>
                <h4>Lago Puelo</h4>
                <img src="../statics/img/chubut.jpg" alt="Imagen de lago puelo - Chubut">
                <p>El Parque Nacional Lago Puelo alberga el lago homónimo, cuyas aguas turquesas crean un paisaje
                    impresionante, además de sus vistas panorámicas de la cordillera.</p>
            </div>

            <!-- San Rafael - Mendoza -->
            <div class="item2">
                <h3>Mendoza</h3>
                <h4>San Rafael</h4>
                <img src="../statics/img/mendoza.jpg" alt="Imagen de San Rafael Mendoza">
                <p>San Rafael, ubicado en la provincia de Mendoza, Argentina, es un destino turístico encantador, en
                    donde se puede visitar el Cañon de Atuel, Valle Grande, entre otros lugares.</p>
            </div>

            <!-- Villa la angostura - Neuquen -->
            <div class="item2">
                <h3>Neuquen</h3>
                <h4>Villa la angostura</h4>
                <img src="../statics/img/neuquén.jpg" alt="Imagen de villa la angustura - Neunquen">
                <p>Villa La Angostura es un verdadero paraíso en el corazón de la Patagonia argentina, famoso por su
                    bosque de arrayanes, árboles de corteza canela y troncos lisos.</p>
            </div>

            <!-- Salta -->
            <div class="item2">
                <h3>Salta</h3>
                <h4>Salta</h4>
                <img src="../statics/img/salta.jpg" alt="Imagen Salta">
                <p>Salta es un destino ideal para tu viaje de descanso o vacaciones. Posee una variedad de paisajes que
                    asombra a todos los visitantes.</p>
            </div>

            <!-- Valle de la luna - San Juan -->
            <div class="item2">
                <h3>San Juan</h3>
                <h4>Valle de la Luna</h4>
                <img src="../statics/img/sanjuan.jpg" alt="Imagen de valle de la luna - San Juan">
                <p>El Valle de Luna cuenta con los paisajes más famosos y retratados de San Juan. Siendo uno de los
                    principales atractivos turisticos de San Juan.</p>
            </div>

            <!-- Santa Fe -->
            <div class="item2">
                <h3>Santa Fe</h3>
                <h4>Santa Fe</h4>
                <img src="../statics/img/santafe.jpg" alt="Imengen de Santa Fe">
                <p>Santa Fe es una de las 10 primeras ciudades del país en materia de eventos, con 450 años de historias
                    para contar.</p>
            </div>

            <!-- Glacier Martial - Tierra del Fuego -->
            <div class="item2">
                <h3>Tierra del Fuego</h3>
                <h4>Glacier Martial</h4>
                <img src="../statics/img/tierradelfuego.jpg" alt="Imagen de glacier martial - tierra del fuego">
                <p>El Centro de Montaña del Glaciar Martial es un complejo de actividades que se encuentra abierto
                    durante todo el año permitiendo practicar diferentes actividades en la temporada invernal.</p>
            </div>

        </div>
    </section>
    <footer id="footer-DE">
        <p>2024. Todos los derechos reservados.</p>
    </footer>
</body>