<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sedan+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/statics/">
    <link rel="stylesheet" href="/statics/css/registro.css">
    <title>registro</title>

    </head>
<body>
    <header class = "header">
        <!-- <h1>Bienvenidos</h1>
        <h2>Arma el viaje de tus sueños</h2> -->
		<nav class= "nav-container">
			<div id="logo">
				<span id="texto-logo1">INJEMAR</span><span id="texto-logo2"> VIAJES</span>
			</div> 
        </nav>
        <nav class="nav-RE">
                <li class="nav1"><a href="../index.html">Pagina Principal</a></li>

                <li class="nav1"><a href="quienes-somos.html">Quienes Somos</a></li>
        </nav>  
    </header> 
    <main>
        <section class="form-wrapper">
            <h2>Registrate!</h2>
            <form action="#" id="formRegister" method="GET" novalidate>

                <!-- Nombre -->
                <div class="form-control">
                    <label>Nombre</label>
                    <input type="text" required name="firstname" id="nombre" placeholder="Ingrese su nombre">
                </div>
                <div class="error" id="error-firstname"></div>

                <!-- Apellido -->
                <div class="form-control">
                    <label>Apellido</label>
                    <input type="text" required name="lastname" id="apellido" placeholder="Ingrese su apellido">
                </div>
                <div class="error" id="error-lastname"></div>
                <div class="form-control">

                <!-- Email -->
                    <label>Email</label>
                    <input type="email" required name="email" id="email" placeholder="Ingrese su Email">
                </div>
                <div class="error" id="error-email"></div>

                <!-- Contraseña -->
                <div class="form-control">
                    <label>Contraseña</label>
                    <input type="password" required name="password" id="contraseña" placeholder="Ingrese su contraseña">
                </div>
                <div class="error" id="error-password"></div>

                <!-- Feche de nacimiento -->
                <div class="form-control">
                    <label id="label-birthdate">Fecha de Nacimiento</label>
                    <input type="date" required name="birthdate" id="fecha_nac">
                </div>

                <!-- Pais -->
                <div class="form-control">
                    <select name="country" id="country" class="form-select">
                        <option value="">País</option>
                        <option value="AR">Argentina</option>
                        <option value="BO">Bolivia</option>
                        <option value="BR">Brasil</option>
                        <option value="CH">Chile</option>
                        <option value="CO">Colombia</option>
                        <option value="EC">Ecuador</option>
                        <option value="PY">Paraguay</option>
                        <option value="PE">Perú</option>
                        <option value="UY">Uruguay</option>
                        <option value="VE">Venezuela</option>
                    </select>
                </div>

                <!-- Aceptas los terminos -->
                <div class="form-terms"> 
                    <div class="terms">
                        <input type="checkbox" id="terms">
                        <label for="terms">Acepto los <a href="#"> terminos y condiciones</a></label>
                    </div>
                </div>

                <!-- Olvidaste tu contraseña -->
                <p><a href="#"> ¿Olvidaste tu contraseña?</a></p>

                <!-- Boton de registrarse -->
                <div class="boton">
                    <button class="boton1" type="button" id="btn-enviar">Registrarse</button>
                </div>
                
                <!-- Necesitas ayuda -->
                <div class="form-help"> 
                    <a href="#">¿Necesitas ayuda?</a>
                </div>
            
            </form>
        </section>
    </main>
    <script src="/statics/js/validacion-registro"></script>
    <footer id="footer-RE">
        <p>2024. Todos los derechos reservados.</p>
    </footer>
</body>